  body{
      background-image: url(https://images.unsplash.com/photo-1526738549149-8e07eca6c147?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80);
      background-attachment: fixed;
      background-position: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    } 

img{
    padding-left: 40px;
}

    .col{
    padding-left: 0px;
    padding-right: 0px;
    height: 1000px;
}

.About{
    background-color: black;
    opacity: 1;
}

h1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.media{
    padding-top: 100px;
    text-align: center;
}

.mt-0{
    margin-top: 0;
}

.mb-0{
    margin-bottom: 0;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

.col-md-6{
    text-align: -webkit-match-parent;
    margin-top: 151px;
    background-color: #0000005c;
    box-sizing: inherit;
}

.col-md-8{
    background-color: rgba(0, 0, 0, 0.68);
    
}

h2 {
    font-size: 70px;
    word-break: break-all;
    padding-top: 60px;
    color: white;
    text-align: center;
  }

  hr{
      color: white;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  
  .row,
  .row > .column {
    padding: 10px;
  }
  
  
  .column {
    float: left;
    width: 25%;
    height: 25%;

  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: rgba(19, 18, 18, 0.714);
    padding: 11px;
    
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    
  }








    